@use '../utils' as *;

.HourCell {
    @include flex();
    font-size: 1.5rem;
    font-weight: 400;
    box-shadow: 0px 1px 4px rgba($clr-black, 0.161);
    border: 2px dashed transparent;
    border-radius: 1rem;
    min-width: 8rem;
    min-height: 3.6rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    input:checked+& {
        color: $clr-white;
        background-color: $clr-blue;
        box-shadow: none;
    }

    input:not(:disabled):not(:checked)+&:hover {
        color: $clr-blue;
        border-color: $clr-blue;
        box-shadow: none;
    }

    input:disabled+& {
        opacity: .19;
        box-shadow: none;
        cursor: not-allowed;
    }
}