@use '../utils' as *;

.slick-track {
    display: flex !important;
    gap: 1.1rem;
    padding-block: 2px;
    padding-left: 3px;

    &::before {
        display: none !important;
    }
}

.slick-arrow::before {
    display: none;
}

.Slider {
    &__arrow {
        position: absolute;
        font-size: 2.4rem;
        color: $clr-arrows;
        cursor: pointer;
        transition: all 150ms ease-in-out;

        :not(.slick-disabled)>&:hover {
            color: $clr-blue;
            transform: scale(1.1);
        }

        .slick-disabled>& {
            opacity: .4;
            cursor: not-allowed;
        }

        &:first-of-type {
            left: -2.8rem;
        }

        &:last-of-type {
            right: -2.8rem;
        }
    }
}